@font-face {
    font-family: 'JetBrains Mono ExtraBold';
}

.button {
    -fx-background-color: #650434;
    -fx-text-fill: White;
    -fx-font-family: 'JetBrains Mono ExtraBold', monospace;
    -fx-font-size: 20px;
    -fx-background-radius: 30;
}
