@font-face {
    font-family: 'KarmaFuture';
    src: url("fonts/KarmaFuture.ttf");
}

.button {
    -fx-background-color: #650434;
    -fx-text-fill: White;
    -fx-font-family: 'KarmaFuture', monospace;
    -fx-font-size: 20px;
    -fx-background-radius: 30;
}
